.container{
    background-color: red;
    padding: 15px;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header header header"
    "sideBar content content"
    "rodape rodape rodape";
}

.container .gridItem{
    background-color: green;
    padding: 20px;
    border: 2px solid yellow;
}

.header{
    grid-area: header;
}
.sidebar{
    grid-area: sideBar;
}
.content{
    grid-area: content;
    height: 40vh;
}
.rodape{
    grid-area: rodape;
}